@model List<artPost.Models.user>
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home Page";

}

@{


    int userSize = Model.Count;
    Random rnd = new Random();
    rnd.Next();
    int nindexesSize = rnd.Next(1, userSize);
    <p>@nindexesSize</p>

    List<int> nIndexes = new List<int>();

    for(int x=0; x<nindexesSize; x++)
    {
        nIndexes.Add(rnd.Next(0, userSize));
    }

    nIndexes = nIndexes.Distinct().ToList();
    }

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Art Post</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>
<body>
      <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <nav class="navbar">

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a class="navbar-brand" href="/Home/index" style="position:fixed; left:100; top:0px; width:150px; border:none;">
                            <img src="/images/artPostLogo2.png" width="150" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Search End ***** -->
                        <!--
                        <div class="search-input">
                            <form id="search" action="#">
                                <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                        -->
                        <!-- ***** Search End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/Home/Index" class="active">Home</a></li>
                            <li><a href="/Home/">Browse</a></li>
                            <li><a href="details.html">Details</a></li>
                            <li><a href="/Home/Privacy">Privacy<img src="assets/images/profile-header.jpg" alt=""></a></li>
                            <li><a href="/Home/Profile">Profile</a></li>
                        </ul>


                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->

                            <partial name="_LoginPartial" />
                    </nav>
                </div>
            </div>
        </div>
    </header>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

    <!-- ***** Header Area End ***** -->
    <!-- ***** Banner Start ***** -->
    <div class="main-banner">
        <div class="row">
            <div class="col-lg-7">
                <div class="header-text">
                    <h6>Welcome To ArtPost.</h6>
                    <h4><em>Browse</em> Our Popular Posts Here</h4>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- ***** Banner End ***** -->

    < class="container">
    <div class="most-popular">
        <div class="row">
            <div class="col-lg-9">
                <div class="heading-section">
                    <h4><em>Most Popular</em> Right Now</h4>
                </div>
            </div>
        </div>
    </div>


 <div class="gallery">
    @foreach(var index in nIndexes)
{
                <br/>
                List<Image> imagesList = JsonConvert.DeserializeObject<List<Image>>(Model[index].imagesJsonString);
                if(imagesList == null || imagesList.Count == 1)
                {
                    continue;

                }

                rnd.Next();

                if(imagesList.Count < 1)
                {
                    continue;
                }

    var randomPostIndex = rnd.Next(1, imagesList.Count);

    //temp for temp user purposes IGNNNORE THE FUCKING LEGACY USER LOL
    @if(imagesList[randomPostIndex].image == null)
    {
        continue;
    }
    <div class="item">
        @if(Model[index].userName == User.Identity.Name)
        {
            <a href="/Home/Profile">@Model[index].userName</a>
        }
        else
        {
            <a href="/Home/viewOtherProfile?value=@Model[index].userName">@Model[index].userName</a>
        }

        <img src="data:image;base64,@System.Convert.ToBase64String(imagesList[randomPostIndex].image)" width="1000" alt=""/>
        <div class="overlay">
        <h4>@imagesList[randomPostIndex-1].Title</h4>
        <h5>@imagesList[randomPostIndex-1].Description</h5>
        <li><i class="fa fa-star"></i> @imagesList[randomPostIndex-1].likes</li>
           </div>
       </div>
}
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p >
                        Copyright © 2036 <a href="#">Art Post</a> Company. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/custom.js"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
