@model List<artPost.Models.user>
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@{


    int userSize = Model.Count;
    Random rnd = new Random();
    rnd.Next();
    int nindexesSize = rnd.Next(5, userSize);

    List<int> nIndexes = new List<int>();

    for(int x=0; x<nindexesSize; x++)
    {
        nIndexes.Add(rnd.Next(0, userSize));
    }

    nIndexes = nIndexes.Distinct().ToList();
    }


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Cyborg - Awesome HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/Home/Index" class="logo">
                            <img src="/images/artPostLogo2.png" alt="" style="width:100px; left:330px; top:5px; position:fixed;" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Search End ***** -->
                        <div class="search-input" style="position:fixed; left:150px;">
                            <form id="search" action="#">
                                <input type="hidden" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                            </form>
                        </div>
                        <!-- ***** Search End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" style="position:fixed; right:400px;">
                            <li><a href="/Home/Index" class="active">Home</a></li>
                            <li><a href="/Home/Privacy">About</a></li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                                </li>
                                <li class="nav-item">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="active nav-link btn btn-link text-light">Logout</button>
                                    </form>
                                </li>
                                <li><a href="/Home/Profile">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a  asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a style="position:fixed; top:35px;"class="" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }

                                    </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <!-- ***** Banner Start ***** -->
                    <div class="main-banner" style="background-image: url('/images/artPost.gif')";>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="header-text">
                                    <h6 style="color:navajowhite"> <strong>Welcome to Art Post.</strong></h6>
                                    <h4 style="background-color: rgba(0, 0, 0, .5);" style="color:lightgreen"><em>_A Community</em> of Artists who love to share_</h4>
                                    <div class="main-button">
                                        <a href="/Home/createPost">Create Your Own Art Post</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Banner End ***** -->


    <div class="container">
    <div class="most-popular" style="background-image: url('/images/artPost2.gif')">
        <div class="row">
            <div class="col-lg-9">
                <div class="heading-section">
                    <h4><em>Art</em> Right Now.</h4>
                </div>
            </div>
        </div>
    </div>
    </div>


 <div class="gallery">
    @foreach(var index in nIndexes)
{
                <br/>
                List<Image> imagesList = JsonConvert.DeserializeObject<List<Image>>(Model[index].imagesJsonString);
                if(imagesList == null || imagesList.Count == 1)
                {
                    continue;
                }

                rnd.Next();

                if(imagesList.Count < 1)
                {
                    continue;
                }

    var randomPostIndex = rnd.Next(1, imagesList.Count);

    //temp for temp user purposes IGNNNORE THE FUCKING LEGACY USER LOL
    @if(imagesList[randomPostIndex].image == null)
    {
        continue;
    }
    <div class="item">
        @if(Model[index].userName == User.Identity.Name)
        {
            <a href="/Home/Profile">@Model[index].userName</a>
        }
        else
        {
            <a href="/Home/viewOtherProfile?value=@Model[index].userName">@Model[index].userName</a>
        }
        <img onclick="/Home/viewOtherProfile?value=@Model[index].userName"src="data:image;base64,@System.Convert.ToBase64String(imagesList[randomPostIndex].image)" width="800" alt=""/>
        <div class="overlay">
        <h4>@imagesList[randomPostIndex].Title</h4>
        <h5>@imagesList[randomPostIndex].Description</h5>
        <li style="color: white"><i class="fa fa-star" style="color: gold"></i> @imagesList[randomPostIndex].likes</li>
                        @Html.ActionLink(
                "Like",
                "checkHome",                         // controller action
                "Home",        // controller
                new { name = Model[index].userName, image = imagesList[randomPostIndex].iID},         // action parameters aka route values
                new { @class = "btn-info btn-small" })
                    }
       </div>
       </div>
}
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p >
                        Copyright © 2036 <a href="#">Art Post</a> Company. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
