@model artPost.Models.user
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewData["Title"]</h1>

@{
    bool isCreated = false;
}

<p>Welcome @Model.userName</p>
<a href="/Home/createPost" class="btn btn-primary">Create Post</a>
<a href="/Home/createProfile" class="btn btn-primary">edit or create a new profile</a>

<img src="data:image;base64,@System.Convert.ToBase64String(Model.profilePic)"/>
<p>@Model.description</p>
<p>followers: @Model.followers</p>

@foreach(var IMAGE in JsonConvert.DeserializeObject<List<Image>>(Model.imagesJsonString))
{
    <img src="data:image;base64,@System.Convert.ToBase64String(IMAGE.image)" width="500"/>
    <p> @IMAGE.Title</p>
    <p> @IMAGE.Description </p>
    <p> @IMAGE.likes</p>
    <p> @IMAGE.likeCount</p>
}

@{
    string temp = Model.imagesJsonString;
}











