@model artPost.Models.user


@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewData["Title"]</h1>

@{
    bool isCreated = false;
}

<p>Welcome @Model.userName</p>
<a href="/Home/createPost" class="btn btn-primary">Create Post</a>
<a href="/Home/createProfile" class="btn btn-primary">edit or create a new profile</a>

<p>@Model.profilePic</p>
<p>@Model.description</p>
<p>followers: @Model.followers</p>

@foreach(Image picture in Model.images)
{
    <p>@picture</p>
}
