@model artPost.Models.user
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Profile";
}
    <br />
    <br />
    <br />
<h1>@ViewData["Title"]</h1>

@{
    bool isCreated = false;
    List<Image> userImages = JsonConvert.DeserializeObject<List<Image>>(Model.imagesJsonString);
}


   <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  </head> 

  <body>

  <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <nav class="navbar">

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a class="navbar-brand" href="/Home/index" style="position:fixed; left:0; top:0px; width:150px; border:none;">
                            <img src="/images/artPostLogo2.png" width="150" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Search End ***** -->
                        <!--
                        <div class="search-input">
                            <form id="search" action="#">
                                <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                        -->
                        <!-- ***** Search End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/Home/Index" class="active">Home</a></li>
                            <li><a href="/Home/">Browse</a></li>
                            <li><a href="details.html">Details</a></li>
                            <li><a href="/Home/Privacy">About<img src="assets/images/.jpg" alt=""></a></li>
                            <li><a href="/Home/Profile">Profile</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    </nav>
    <!-- ***** Header Area End ***** -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <!-- ***** Banner Start ***** -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-profile ">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.profilePic)" alt="" style="border-radius: 23px;"/>
                                    </div>
                                    <div class="col-lg-4 align-self-center">
                                        <div class="main-info header-text">
                                            <a href="/Home/createProfile" class="btn btn-primary">edit or create a new profile</a>
                                            <h4>@Model.userName</h4>
                                            <p>@Model.description</p>
                                            <div class="main-border-button">
                                                <a href="/Home/createPost">Create Post</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 align-self-center">
                                        <ul>
                                            <li>Make Art that you want
                                            <li>Post them Online
                                            <li>Get Noticed by other people
                                            <li>Profit</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="clips">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="heading-section">
                                                        <h4><em>Your</em> Posts</h4>
                                                    </div>
                                                </div>

                                                @foreach (var IMAGE in userImages)
                                                {
                                                    if(IMAGE.Title == "dummy")
                                                    {
                                                        continue;
                                                    }
                                                    <img src="data:image;base64,@System.Convert.ToBase64String(IMAGE.image)" width="200" alt="" style="border-radius: 23px;"/>
                                                        <div class="down-content">
                                                            <br/>
                                                            <h4> @IMAGE.Title</h4>
                                                            <p> @IMAGE.Description </p>
                                                            <span><i class="fa fa-eye"></i> @IMAGE.likes</span>
                                                        </div>
                                                }
                                                <div class="col-lg-12">
                                                    <div class="main-button">
                                                        <a href="#">Go To Top</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Banner End ***** -->

    <footer>
        <div class="container">
            <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Copyright © 2036 <a href="#">Art Post</a> Company. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/custom.js"></script>

</body>


</html>




