@model List<artPost.Models.user>
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "viewOtherProfile";
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    var returnUrl = $"{routeUrl}{qsPath}";
    var USER_NAME = qsPath.Substring(7);
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Art Post</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/Home/Index" class="logo">
                            <img src="/images/artPostLogo2.png" alt="" style="width:100px; left:330px; top:5px; position:fixed;" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Search End ***** -->
                        <div class="search-input" style="position:fixed; left:150px;">
                            <form id="search" action="#">
                                <input type="hidden" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                            </form>
                        </div>
                        <!-- ***** Search End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" style="position:fixed; right:400px;">
                            <li><a href="/Home/Index" class="active">Home</a></li>
                            <li><a href="/Home/Privacy">About</a></li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                                </li>
                                <li class="nav-item">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="active nav-link btn btn-link text-light">Logout</button>
                                    </form>
                                </li>
                                <li><a href="/Home/Profile">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a style="position:fixed; top:35px;" class="" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">



                    @foreach (var item in Model)
                    {
                        if (item.userName == USER_NAME)
                        {
                         <!-- ***** Banner Start ***** -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-profile ">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img src="data:image;base64,@System.Convert.ToBase64String(item.profilePic)" />
                                    </div>
                                    <div class="col-lg-4 align-self-center">
                                        <div class="main-info header-text">

                                            <h4>@item.userName</h4>

                                                    @if(item.description == "")
                                                    {
                                                        <p style="color:white;">‎ </p>
                                                    }else{
                                                        <p style="color:white;">@item.description</p>

                                                    }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="clips">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="heading-section">
                                                        <h4><em>@item.userName</em> 's Posts</h4>
                                                    </div>
                                                </div>

                                                        @foreach (var IMAGE in JsonConvert.DeserializeObject<List<Image>>(item.imagesJsonString))
                                                        {
                                                            if(IMAGE.Title == "dummy")
                                                            {
                                                                continue;
                                                            }
                                                            <div id=@IMAGE.iID>
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(IMAGE.image)" />
                                                            </div>

                                                            <h4> @IMAGE.Title</h4>
                                                            <p> @IMAGE.Description </p>
                                                            <span style="color:white"><i class="fa fa-star" style="color:gold"></i> @IMAGE.likes</span>

                                                            @Html.ActionLink(
                                                                    "Like",
                                                                    "checkHome",                         // controller action
                                                                    "Home",        // controller
                                                                    new { name = item.userName, image = IMAGE.iID},         // action parameters aka route values
                                                                    new { @class = "btn-info btn-small" })
                                                                                // html attributes
                                                                            }


                                                <div class="col-lg-12">
                                                    <div class="main-button">
                                                        <a href="#">Go To Top</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Banner End ***** -->

                    }
                   }
                   
                    <!-- Scripts -->
                    <!-- Bootstrap core JavaScript -->
                    <script src="/jquery/jquery.min.js"></script>
                    <script src="/js/bootstrap.min.js"></script>

                    <script src="/js/isotope.min.js"></script>
                    <script src="/js/owl-carousel.js"></script>
                    <script src="/js/tabs.js"></script>
                    <script src="/js/popup.js"></script>
                    <script src="/js/custom.js"></script>
</body>
